PROXY_URL=http://localhost:8081
STATS_MONGODB_URI=mongodb://localhost:27017
STATIC_MONGODB_URI=mongodb://localhost:27017
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
HTTP_ADDR=:8080
GRPC_ADDR=:9090
DOMAINS=
RUN_ONCE=false
DRY_RUN=false
MOCK_DB=false
EVENT_BUFFER_SIZE=1024
RECENT_EVENT_BUFFER=2048
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USERNAME=
REDDIT_PASSWORD=
